
.container{
	width: 800px;
	margin-left:auto;
	margin-right: auto;
	
}

.banner{
	width:100%;
	height:50px;
	text-align: center;
	padding-top:30px;
	border-bottom-style: dotted;
	border-bottom-color: blue;
	background-color: #4286f4;
	color:white;
	text-transform: uppercase;
	font-style: oblique;
	font-family: cursive;
	
}

.liens{
	display:table-cell;
	width:150px;
	border-right-style: dotted;
	border-right-color: blue;
}

.liens>ul{
	list-style-type: none;
	margin-right: 5px;
}

.liens>ul a {
	text-decoration: none;
	color:blue;
}

.liens>ul a:hover{
	text-decoration: underline;
}


.liens>hr{
	width:30%;
	border-style: ridge;
	height: 2px;
    background-color: #4286f4;
    
}
.contenu{
	display: table-cell;
	width:100%;
	vertical-align: top;
	padding-left: 10px;
}

h1,h2,h3,h4{
	text-align: center;
}
.page{
	display: table-row;
}